<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <header>
            <h1>첫 번째 글</h1>
        </header>
        <aside>
            <p>miewone</p>
            <p><a href="mailto:dlsrk489@gmail.com">dlsrk489@gmail.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문 <br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden></label>
                    <textarea id="articleComment" placeholder="댓글 쓰기.." rows="10"></textarea>
                    <button type="submit"></button>
                </form>
            </div>

            <ul>
                <li>
                    <div></div>
                </li>
            </ul>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>
    </main>
    <footer id="footer"></footer>
</body>
</html>
